<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" my-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-between p-4 text-white" style="background-color: #21D192">
            <!-- Left -->
            <div class="me-5">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="https://www.facebook.com/login.php" class=" me-4">
                    <i class="fotericon fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/" class=" me-4">
                    <i class="fotericon fab fa-twitter"></i>
                </a>
                <a href="https://accounts.google.com/" class=" me-4">
                    <i class="fotericon fab fa-google"></i>
                </a>
                <a href="https://www.instagram.com/" class=" me-4">
                    <i class="fotericon fab fa-instagram"></i>
                </a>


            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">YACHTSY</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            Yachtsy is a dream company set up by a bunch of friends with the aim of providing outmost luxurious services at the sea,
                           we provide our extended hands from  Selecting your luxury yacht charter to your final destination. setting up each and every point of the journey with memmorable experiences, we assure you will travel with us again!
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Packages</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#!" class="text-dark">Srilanka</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Dubai</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Andaman Islands</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Maldives</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                   

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i> WestBengal,India</p>
                        <p><i class="fas fa-envelope mr-3"></i> yachtsy@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 91 2355 5694 88</p>
                        <p><i class="fas fa-print mr-3"></i> + 91 2345 5677 89</p>
                    </div>
                    <!-- Grid column -->

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    <!-- Links -->
    <h6 class="text-uppercase fw-bold">Useful links</h6>
    <hr class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 60px; background-color: #7c4dff; height: 2px" />
    <p>
        <a href="add" class="text-dark">Add Products</a>
    </p>
   
    


</div>
<!-- Grid column -->





                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-dark">yachtsy.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->